[submodule "se"]
	path = se
	url = https://github.com/david-fop/se
[submodule "eicb"]
	path = eicb
	url = git@github.com:SCHOUTER/eicb.git
[submodule "eiki"]
	path = eiki
	url = git@github.com:SCHOUTER/eiki.git
[submodule "vc"]
	path = vc
	url = git@github.com:SCHOUTER/vc.git
[submodule "css"]
	path = css
	url = git@github.com:SCHOUTER/css.git
[submodule "cipr"]
	path = cipr
	url = git@github.com:SCHOUTER/cipr.git
[submodule "rl"]
	path = rl
	url = https://github.com/SCHOUTER/rl.git
[submodule "e4nlp"]
	path = e4nlp
	url = git@github.com:SCHOUTER/e4nlp.git
	branch = main
