# =========================
# Gradle
# =========================
.gradle/
**/.gradle/

build/
**/build/

bin/
**/bin/

# =========================
# Compiled Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ
# =========================
.idea/
*.iml
out/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Test results
# =========================
test-results/
reports/

